body{
    background-color: rgb(0, 0, 0);
    font-size: 25px;
    width: 400px;
    color: white;
    height: 240px;
}
#timer{
    background: #fff;
    color: #000;
    width: 150px;
    margin: 50px auto;
    margin-left: center;
    margin-top: 20px;
    text-align: center;
}
#settings {
    background-color: transparent;
    max-width: 25px;
    max-height: 25px;
    position: fixed;
    top: 10px;
    right: 30px;
}


.hover-text {
    display: none; 
}

#settings:hover {
    filter:brightness(75%);
}

#settings:hover .hover-text {
    display: block; 
    font-size: 15px;
    color: black;
}

.hover-text {
    position:absolute; 
    background-color:white; 
    border:1px solid rgb(255, 254, 254); 
    display:none;
    right: 25px;
}
